div.media-body {
  padding: 10px;
}

p.twiit-handle {
  color: #657786;
}

p.twiit-content {
  font-size: 1.5em;
}

li.pill-button {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

textarea.twiit-input {
  resize: none;
  font-size: 1.2em;
}
