div.media-body {
  padding: 10px;
}

p.twiit-handle {
  color: #657786;
}

div.twiit-content {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.twiit-content > p {
  margin: 0px;
}

li.pill-button {
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

textarea.twiit-input {
  resize: none;
  font-size: 1.2em;
}

.img-preview {
  padding-top: 15px;
}

button.btn-twiit-menu {
  border: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

h4.modal-dialog-header {
  font-weight: normal;
}

.profile-button {
  padding: 5px !important;
  margin-right: 10px;
  margin-left: 10px;
}

}
.badge-error {
  background-color: #b94a48;
}

.badge-warning {
  background-color: #f89406;
}

.badge-success {
  background-color: #468847;
}

.badge-info {
  background-color: #3a87ad;
}

.modal-login {
  width: 380px;
}

.modal-profile {
  width: 270px;
}

.hashtag {
  color: blue;
}

.twiit-textarea {
  height: 120px;
  border-radius: 4px;
  border-color ease-in-out .15s,box-shadow ease-in-out .15s
  border-style: solid;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 1.2em;
  overflow-y: auto;
}

.loading-div {
  font-size: 2.0em;
  margin-bottom: 20px;
}

.end-div {
  margin-bottom: 20px;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

.glyphicon.slow-right-spinner {
    -webkit-animation: glyphicon-spin-r 3s infinite linear;
    animation: glyphicon-spin-r 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
